* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.mainContainer {
  background: #0f0f0f;
  color: #fff;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 30px;
  background: #181818;
  position: sticky;
  top: 0;
  z-index: 1;
  /* border: 1px solid white; */
}

.logo {
  /* border: 1px solid white; */
  font-size: 28px;
  font-weight: bold;
  padding: 12px 10px;
}

.navbar input {
  border: none;
  outline: none;
  width: 50%;
  border-radius: 10px;
  border: none;
  background-color: #181818;
  border: 1px solid #fff;
  padding: 12px 10px;
  color: #fff;
  font-size: 15px;
}
.navbar input::placeholder {
  color: #555555;
}

.navbar button {
  padding: 7px 15px;
  border: none;
  border-radius: 20px;
  background: #ff0000;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.3s;
}

.navbar button:hover {
  transform: scale(1.05);
}

.rowvid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 0px;
}

.card {
  /* border: 1px solid white; */
  width: 20%;
  transition: all 0.2s ease;
}
.card:hover {
  transform: scale(1.05);
}

.card video {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  cursor: pointer;
}

.card p {
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
}
